body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;

}

a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: yellow;
}


header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid yellow
    ;
}

.center{
    text-align: center;
}

h1 {
    color: yellow;
}
h3 {
    color: rgb(121, 122, 120);
}

footer img {
    width: 50px;
    height: 50px;

}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 100px;
    text-align: center;
}
footer p {
    margin-top: 2px;
}

.container {
    padding: 0px 30px;
}

.nubank {
    display: flex;
    justify-content: center;
}

.nubank [alt="logo-nubank"] {
    width: 20%;
    display: flex;
    align-items: center;

}

.escrita-nubank{
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: #ffffff ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    justify-content: center;  
    margin-top: 15%;

}

.logo-nubank{
    display: flex;
    width: 30%;
    margin-left: 37%;       
    
}

.insta{
    width: 15%;
    margin-left: 43%;
    margin-top: 15%;
}

.contact{
    background-color: black;
}

